/* custom-gradients.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-gradient-bg {
     background: linear-gradient(0deg, #0A47F2 79.79%, #B5C9FF 122.34%),
       radial-gradient(342.89% 359.97% at 49.74% 48.94%, rgba(10, 71, 242, 0.5) 0%, rgba(181, 201, 255, 0.5) 100%),
       linear-gradient(0deg, #0A47F2, #0A47F2),
       radial-gradient(50% 50% at 50% 50%, #D763FF 0%, rgba(10, 71, 242, 0) 100%)
       /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
     ;
     border: 6px solid;
   
     border-image-source: linear-gradient(135deg, #D763FF 0%, #0A47F2 50%, #8A88FF 100%);
   
     box-shadow: 5px 5px 12px 10px #8A88FF33;
   
     box-shadow: -5px -5px 12px 0px #D763FF33;
   
   
   }
   
   
   @font-face {
     font-family: 'Satoshi-Medium';
     src: url('/fonts/Satoshi-Medium.woff2') format('woff2'),
       url('/fonts/Satoshi-Medium.woff') format('woff'),
       url('/fonts/Satoshi-Medium.ttf') format('truetype');
     font-weight: 500;
     font-display: swap;
     font-style: normal;
   }
   
   
   
   @font-face {
     font-family: 'Satoshi-Bold';
     src: url('/fonts/Satoshi-Bold.woff2') format('woff2'),
       url('/fonts/Satoshi-Bold.woff') format('woff'),
       url('/fonts/Satoshi-Bold.ttf') format('truetype');
     font-weight: 700;
     font-display: swap;
     font-style: normal;
   }
   
   